
// index

.runners {
    display: flex;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.runner-card {
    display: block;
    width: 30%;
    height: auto;
    background-color: #fff;
    border-radius: 2%;
    border: 0.5px solid #808080;
    margin: 10px 0px;
}

.profile {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}

.runner-profile {
    padding: 10px;
}

.runner-name {
    font-size: medium;
    font-weight: 800;
}

.runner-profile-image {
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
}

.card-body {
    padding: 10px;
}


// create
.runner-form {
    background-color: #ADD8E6;
    border-radius: 1em;
    padding: 10px;
}


